.password-strength-meter {
  text-align: center;
}

.password-strength-meter__strength {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.password-strength-meter__strength::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
.password-strength-meter__strength[value="1"]::-webkit-meter-optimum-value {
  background: red;
}

.password-strength-meter__strength[value="2"]::-webkit-meter-optimum-value {
  background: yellow;
}

.password-strength-meter__strength[value="3"]::-webkit-meter-optimum-value {
  background: orange;
}

.password-strength-meter__strength[value="4"]::-webkit-meter-optimum-value {
  background: green;
}

/* Gecko based browsers */
.password-strength-meter__strength[value="1"]::-moz-meter-bar {
  background: red;
}

.password-strength-meter__strength[value="2"]::-moz-meter-bar {
  background: yellow;
}

.password-strength-meter__strength[value="3"]::-moz-meter-bar {
  background: orange;
}

.password-strength-meter__strength[value="4"]::-moz-meter-bar {
  background: green;
}

.password-strength-meter__label {
  padding-top: 0.5rem;
  font-size: 0.925rem;
}